# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# Node & Frontend
node_modules/
dist/
.vite/
npm-debug.log*

# Database & Models & Reports
data/*.db
*.sqlite3
reports/*.pdf

# IDE
.vscode/
.idea/
*.swp

# Testing
.pytest_cache/
.coverage
htmlcov/

